#navbar {

    height: 50px;
    width:100%;
}

#navbar ul li a{
    font-size: 0.5rem;
    padding: 0px 5px;
    padding-bottom: 8px;
}
#logo img{
display: flex;
    height: 45px;
    margin: -10px -10px;
}
#navbar::before {
    width: 100%;
}
.pagination {
    display: flex;
    list-style: none;
    margin: 20px 10px 2px;
    outline: none;
    justify-content: center;
   font-size: 10px;
    
}
.pagination li a {
    flex-direction: column;
    padding-left: -30px;
    font-size: 10px;
   
   
}
#res{
    font-size: 1px;
}